//Vatiables
$color-black: black;
$color-gray: #666666;
$color-green--dark: #254741;
$color-green: #04a05a;

//Functions
@function toRem($size) {
    @return $size / 16px* 1rem;
}

@import "./uikit.scss";
@import "../layouts/base.scss";

//Components
@import "./elements.scss";
@import "../components/header/header.scss";
@import "../components/site-nav/site-nav.scss";

$primary: red;
$secondary: blue;

.hello {
  color: rgb(43, 55, 61);
}

.lorem {
  color: rgb(43, 55, 61);
}
